body{
    background-image: url(../images/backgroundImage.jpg);
}

#title{
    color: white;
    text-align: center;
}

#questionarea{
    color: white;
    text-align: center;
}

.choice{
    background-color: blue;
    
}

.choice:hover{
background-color: purple;
}

#startbutton:hover{
    background-color: purple;
}